*{
    color: $base-fc;
    font-size: $base-fz;
    font-family: $base-ff;
    line-height: 1.888889em;
}


.inner{
    max-width: 950px;
    margin: auto;
    box-sizing: content-box;
    padding-right: 32px;
    padding-left: 32px;
}

._com__section-title{
    width: fit-content;
    text-align: center;
    color: $main-color;
    font-size: 2em;
    font-weight: medium;
    img{
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 70px;
    }
}

._flex{
    display: flex;
}

._new-line{
    display: inline-block;
}

// header
.header{
    position:fixed ;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    &-inner{
        background-color: #fff;
        padding: 10px 60px;
        align-items: center;
        justify-content: space-between;
    }
}

.header-logo{
    height: 80px;
    width: auto;
    &:hover{
        opacity: .7;
    }
}

.header-nav-wrap{
    

}

.header-nav{
    &__lists{
        align-items: center;
        margin-right: -30px;
        &__item{
            height: fit-content;
            margin-right: 30px;
            a{
                text-decoration: none;
            }
        }
    }
}

// ハンバーガーメニューのマーク
.header-nav__ham-mark{
    position: relative; width: 25px;
    &__line{
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $main-color;
        transform: translateX( -50%);
        left: 50%;
    }
    &__top{
        transform: translateY(0%);
        top:0 ;
    }
    &__middle{
        transform: translateY(-50%);
        top:50% ;
    }
    &__top{
        transform: translateY(-100%);
        top:100% ;
    }
}

