.index{
/*====================================================================
                    fv
====================================================================*/
.fv{
    padding-top: 100px;
    width: 100%;
    background-color: $main-bgc;
    margin-bottom: 100px;
}

.fv__images-wrap{
    position: relative;
    width: calc((1265 / 1440) * 100%);
}

.fv-images{
    width: 100%;
    &__item{
        position: relative;
        overflow: hidden;
        padding-top: 52.173913%;
        img{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}

.fv-text{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15.5%;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px 50px;
    &__title,
    &__txt{
        color: $main-color;
        font-family: $fv-title;
        font-style: normal;
    }
    &__title{
        font-size: 2.5em;
        font-weight: 600;
    }
    &__txt{
        margin-top: 20px;
        font-weight: 500;
        line-height: 1.888888em;
        font-size: 1.125em;
    }
}

/*====================================================================
                    news
====================================================================*/
.news{
    
}

}