.index{
/*====================================================================
                    fv
====================================================================*/
.fv{
    padding-top: 100px;
    width: 100%;
    background-color: $main-bgc;
}

.fv__images-wrap{
    position: relative;
    width: calc((1265 / 1440) * 100%);
}

.fv-images{
    width: 100%;
    &__item{
        position: relative;
        overflow: hidden;
        padding-top: 52.173913%;
        img{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}

.fv-text{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15.5%;
    background-color: rgba(255, 255, 255, .8);
    padding: 40px 50px;
    &__title,
    &__txt{
        color: $main-color;
        font-family: $fv-title;
        font-style: normal;
    }
    &__title{
        font-size: 2.5em;
        font-weight: 600;
    }
    &__txt{
        margin-top: 20px;
        font-weight: 500;
        line-height: 1em;
        font-size: 1.125em;
    }
}

/*====================================================================
                    news
====================================================================*/
.news{
    background-color: $main-bgc;
    padding-top: 100px;
    .inner{
    }
    &-contents-wrap{
        background-color: #fff;
        padding: 60px 85px;
        width: 100%;
    }
    &-contents{
        margin-bottom: 50px;
        align-items: center;
    }
}

.news-contents__title-wrap{
    width: 183.5px;
    .news-contents__title{
        width: 128px;
    }

}

.news__lists{
    position: relative;
    width: calc(100% - 183.5px) ;
    padding-left: 63px;
    margin-bottom: -20px;
    &::before{
        position: absolute;
        content: "";
        height: 20px;
        width: 2px;
        background-color: $main-color;
        transform: translate(-100%, -50%);
        top: 50%;
        left: 0;
        
    }
    &__item{
        margin-bottom: 20px;
        align-items: center;
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
        }
        &__date{
            display: inline-block;
            font-size: 1.125em;
            // margin-right: 20px;
            width: 90px;
        }
        &__cat{
            background-color: $main-bgc;
            display: inline-block;
            padding: 6px 0;
            text-align: center;
            width: 104px;
            font-size: 1em;
            // margin-right: 30px;
        }
        &__title{
            font-size: 1.125em;
            width: calc(100% - 244px);
        }
    }
}
.news-contents__btn-wrap{
    @include _com-btn-wrap;
}
.news-contents__btn{
    @include _com-btn (24px 100px);
}

/*====================================================================
                    ABOUT
====================================================================*/
.about{
    @include _com-bg;
    .inner{
        padding-top: 133px;
        padding-bottom: 158px;
    }
    .about-title{
        margin: auto;
        margin-bottom: 46px;
        img{
            width: 68px;
        }
    }
}

.about-contents{
    &__item{
        align-items: center;
        &__text{
            background-color: rgba(240, 245, 253, .5);
            padding: 70px 65px;
            p{
                line-height: 1.94em;
                font-size: 1.125em;
            }
        }
        &__img{
            text-align: center;
        }
        &:first-child{
            .about-contents__item__text{
                width: calc((643 / 950) * 100%);
            }
            .about-contents__item__img{
                width: calc(100% - ((643 / 950) * 100%));
                img{
                    width: calc((172 / 307) * 100%);
                }
            }
        }
        &:nth-child(2){
            margin-top: -25px;
            margin-bottom: -25px;
            .about-contents__item__text{
                width: calc((583 / 950) * 100%);
                p{
                    span{
                        color: $main-color;
                    }
                }
            }
            .about-contents__item__img{
                width: calc(100% - ((583 / 950) * 100%));
                img{
                    width: calc((220 / 363) * 100%);
                }
            }
        }
        &:last-child{
            .about-contents__item__text{
                width: calc((746 / 950) * 100%);
            }
            .about-contents__item__img{
                position: relative;
                width: calc(100% - ((746 / 950) * 100%));
                img{
                    position: absolute;
                    width: calc((161 / 204) * 100%);
                    top:100% ;
                    left: -20%;
                }
            }
        }
    }
    &__odd{
    }
    &__even{
        flex-direction: row-reverse;
    }
}

/*====================================================================
                    promise
====================================================================*/
.promise{
    background-color: $main-bgc;
    .promise-title{
        margin: auto;
        margin-bottom: 22px;
    }
    
    .promise-text{
        text-align: center;
        line-height: 1.666em;
        font-size: 1.125em;
        margin-bottom: 86px;
    }
}

.promise-contents{
    margin-bottom: -50px;
    &__item{
        width: 100%;
        margin-bottom: 50px;
        padding: 50px 35px;
        background-color: #fff;
        position: relative;
        &::before{
            position: absolute;
            transform: translate(-50%, -50%);
            top: 86px;
            left: 28px;
        }
        &:first-child{
            &::before{
                content: url(.././img/index/no1.png);
            }
        }
        &:nth-child(2){
            &::before{
                content: url(.././img/index/no2.png);
                top: 90px;
                left: 45px;
            }
        }
        &:nth-child(3){
            &::before{
                content: url(.././img/index/no3.png);
                top: 90px;
                left: 40px;
            }
        }
        &:last-child{
            &::before{
                content: url(.././img/index/no4.png);
                top: 90px;
                left: 48px;
            }
        }
        &__text{
            position: relative;
            width: calc((550 / 950) * 100%);
            &__title{
                margin-bottom: 35px;
                span{
                    font-size: 1.5em;
                    font-family: $fv-title;
                    color: $main-color;
                }
            }
            &__txt{
                padding-right: 50px;
                span{
                    color: $main-color;
                }
            }
        }
        &__img{
            width: calc((400 / 950) * 100%);
        }
    }
}
/*====================================================================
                    business
====================================================================*/
.business{
    padding-top: 168px;
    padding-bottom: 185px;
    @include _com-bg;
    &-title{
        margin: auto;
        margin-bottom: 24px;
        img{
            width: 80px;
        }
    }
    &-text{
        text-align: center;
        margin-bottom: 60px;
    }
}

.business__contents__lists{
    justify-content: space-between;
    &__item{
        position: relative;
        background-color: $main-bgc;
        width: calc((100% - 60px) / 3);
        &__text{
            padding: 15px 20px 60px 20px;
            &__title{
                font-size: 1.25em;
                color: $main-color;
                margin-bottom: 16px;
            }
        }
        &__btn-wrap{
            position: absolute;
            transform: translate(-50%, 50%);
            left: 50%;
            bottom: 0%;
            width: 100%;
            @include _com-btn-wrap;
            .business__contents__lists__item__btn{
                font-size: 1.12em;
                @include _com-btn(20px 80px);
                &::before{
                    right: -140px;
                }
            }
        }
    }
}

.business__links{
    margin-top: 180px;
    justify-content: space-between;
    &__item{
        position: relative;
        width: calc((100% - 30px) / 2);
        border: 1px solid $main-color;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 35px;
        &__mark{
            position: absolute;
            display: inline-block;
            width: 150px;
            height: 75px;
            border: solid 1px $main-color;
            border-radius: 75px 75px 0 0; /* 下側を丸める */
            border-bottom: solid 3px #fff;
            transform: translate(-50%, -100%);
            left: 50%;
            top: 1px;
            span{
                display: block;
                text-align: center;
                margin-top: 32.5px;
                img{
                    width: 50px;
                }
            }
        }
        &__title{
            font-size: 1.5em;
            color: $main-color;
            font-weight: bold;
            margin-bottom: 20px;
        }
        &__btn-wrap{
            @include _com-btn-wrap;
            .business__links__item__btn{
                @include _com-btn( 20px 50px);
                &::before{
                    right: -180px;
                }
            }
        }
        &__tell{
            font-size: 2.5em;
            color: $main-color;
            margin-bottom: 12px;
            text-decoration: none;
        }
        &__tell-time{
            font-size: 1em;
            font-weight: bold;
        }
    }
}

/*====================================================================
                    company
====================================================================*/
.company{
    background-color: $main-bgc;
    &-title{
        img{
            width: 80px;
        }
        margin: auto;
        margin-bottom: 46px;
    }
}

.company-info-contents{
    background-color: #fff;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    &__item{
        width: fit-content;
        margin: auto;
        margin-bottom: 35px;
        &:last-child{
            margin-bottom: 0;
        }
        &__label{
            position: relative;
            text-align: right;
            width: 110px;
            padding-right: 20px;
            color: $main-color;
            font-size: 1.12em;
            &::before{
                position: absolute;
                content: "";
                width: 1px;
                height: 10px;
                background-color: $main-color;
                transform: translate(-100%, 100%);
                top: 3px;
                right: 0%;
            }
        }
        &__text{
            width: 445px;
            padding-left: 25px;
        }
    }
}

.company__map-wrap{
    position: relative;
    margin-top: 95px;
    width: 100%;
    padding-top: 25%;
    overflow: hidden;
    iframe{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        
    }
}

}